*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/LibNetwork/build/
/LibNetwork/build/intermediates/javac/debug/classes/
/liveness/build/
/liveness/build/intermediates/javac/debug/classes/
/module_base/build/
/module_base/build/intermediates/javac/debug/classes/
/module_dbdata/build/
/module_dbdata/build/intermediates/javac/debug/classes/
/module_ui/build/
/module_ui/build/intermediates/javac/debug/classes/
/titlelayoutlib/build/
/titlelayoutlib/build/intermediates/javac/debug/classes/